
                     <h3 class="traitsheet-header"><div>{{localize "EW.game_term.armor"}}</div>
                        <a class="item-create" title="Add Armor" data-type="armor">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table class="item-table">
                        
                        {{#each armors as |armor id|}}
                      
                        <tr>
                            <td class="item-name item" style="max-width:50%;" data-item-id="{{armor.id}}">
                                <a class="armor-roll weapon-image" title="Roll Defense"><img src="{{armor.img}}" height="24" width="24"/></a>
                                 <a class="item-edit" title="Edit"><strong>{{armor.name}}</strong></a>
                                <br><em>{{localize armor.system.armor_type}}, 
                                        {{#if (ne armor.system.protection.variable "none")}}{{armor.system.protection.variable}}/{{/if}}
                                        {{#if armor.system.accessory}}+{{/if}}{{armor.system.protection.fixed}}, 
                                        {{#if (ne armor.system.bonus.to "none")}}+{{armor.system.bonus.amount}} {{setting (getCustomName armor.system.bonus.to)}},{{/if}}
                                        {{#if (ne armor.system.penalty.to "none")}}-{{armor.system.penalty.amount}} {{setting (getCustomName armor.system.penalty.to)}}{{/if}}
                                        {{#if (ne armor.system.diffmod.to "none")}}, {{armor.system.diffmod.to}}{{/if}}
                                        {{#if armor.system.accessory}}, accessory{{/if}}
                            </em>
                            </td>
                           <td class="align-center item-name item" data-item-id="{{armor.id}}">
                            Eqp <input data-field="data.equipped" value="{{armor.system.equipped}}" class="equip-item" name="armor.system.equipped" type="checkbox" {{checked armor.system.equipped}} />
                           </td>
                                    

                            <td>
                                <a class="item-delete item" data-item-id="{{armor.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
            