
                     <h3 class="traitsheet-header"><div>{{localize "EW.game_term.armor"}}</div>
                        <a class="item-create" title="Add Armor" data-type="armor">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table class="item-table">
                        
                        {{#each armors as |armor id|}}
                     
                        <tr>
                            <td class="item-name item" style="max-width:50%;" data-item-id="{{armor._id}}">
                                <a class="armor-roll weapon-image" title="Roll Defense"><img src="{{armor.img}}" height="24" width="24"/></a>
                                 <a class="item-edit" title="Edit"><strong>{{armor.name}}</strong></a>
                                <br><em>{{localize armor.data.armor_type}}, 
                                        {{#if (ne armor.data.protection.variable "none")}}{{armor.data.protection.variable}}/{{/if}}
                                        {{#if armor.data.accessory}}+{{/if}}{{armor.data.protection.fixed}}, 
                                        {{#if (ne armor.data.bonus.to "none")}}+{{armor.data.bonus.amount}} {{setting (getCustomName armor.data.bonus.to)}},{{/if}}
                                        {{#if (ne armor.data.penalty.to "none")}}-{{armor.data.penalty.amount}} {{setting (getCustomName armor.data.penalty.to)}}{{/if}}
                                        {{#if (ne armor.data.diffmod.to "none")}}, {{armor.data.diffmod.to}}{{/if}}
                                        {{#if armor.data.accessory}}, accessory{{/if}}
                            </em>
                            </td>
                           <td class="align-center item-name item" data-item-id="{{armor._id}}">
                            Eqp <input data-field="data.equipped" value="{{data.equipped}}" class="equip-item" name="data.equipped" type="checkbox" {{checked data.equipped}} />
                           </td>
                                    

                            <td>
                                <a class="item-delete item" data-item-id="{{armor._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
            