    <option value="none"></option>   
    <option value="strength">{{proper (setting "strName")}}</option>
    <option value="agility">{{proper (setting "agiName")}}</option>
    <option value="mind">{{proper (setting "minName")}}</option>
    <option value="appeal">{{proper (setting "appName")}}</option>
    <option value="melee">{{proper (setting "melName")}}</option>
    <option value="ranged">{{proper (setting "ranName")}}</option>
    <option value="defense">{{proper (setting "defName")}}</option>
    <option value="initiative">{{proper (setting "iniName")}}</option>