    <option value="none"></option>   
    <option value="strength">{{localize "EW.attribute.main.strength"}}</option>
    <option value="agility">{{localize "EW.attribute.main.agility"}}</option>
    <option value="mind">{{localize "EW.attribute.main.mind"}}</option>
    <option value="appeal">{{localize "EW.attribute.main.appeal"}}</option>
    <option value="melee">{{localize "EW.attribute.combat.melee"}}</option>
    <option value="ranged">{{localize "EW.attribute.combat.ranged"}}</option>
    <option value="defense">{{localize "EW.attribute.combat.defense"}}</option>
    <option value="initiative">{{localize "EW.attribute.combat.initiative"}}</option>