        <h3 class="traitsheet-header"><div>{{localize "EW.game_term.boons"}}</div>
                        <a class="item-create" title="Add Boon" data-type="trait" data-sub-type="boon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each traits as |trait id|}}
                        {{#ife trait.data.type "boon"}}
                        <tr>
                            <td class="item-name item" data-item-id="{{trait._id}}">
                                <img src="{{trait.img}}" data-edit="img" height="24" width="24"/>
                                <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.data.source}}{{#if trait.data.isTemporary}},temporary{{/if}})</em></a><br>
                                {{trait.data.description}}<br>  
                            </td>
                            <td>
                                <a class="item-delete item" data-item-id="{{trait._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/ife}}
                        {{/each}}
                    </table>