
                      
                <div class="ew-itemborder">
                    <div class="ew-statblock ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.boons"}} 
                        <a class="item-create" title="Add Boon" data-action="addItem" data-type="trait" data-sub-type="boon">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        / {{localize "EW.game_term.flaws"}}</strong>
                        <a class="item-create" title="Add Flaw" data-action="addItem" data-type="trait" data-sub-type="flaw">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                    <table id="ew-boon-table">
                        {{#each traits as |trait id|}}
                        
                        <tr>
                            <td class="item-name item">
                                <img class="ew-cs-img" src="{{trait.img}}" data-edit="img" height="24" width="24"/>
                                <a class="item-edit" data-action="editItem" data-item-id="{{trait.id}}" title="Edit"><strong>{{trait.name}}</strong> (<em>{{trait.system.source}}{{#if trait.system.isTemporary}},temporary{{/if}})</em></a><br>
                                {{trait.system.description}}<br>  
                            </td>
                            <td>
                                <a class="item-delete item" title="Delete Item" data-action="deleteItem" data-item-id="{{trait.id}}">
                                    <i class="fa-solid fa-ban"></i>
                                </a>
                            </td>
                        </tr>
                        
                        {{/each}}
                    </table>
                    </div>   
