        <div><h3 class="traitsheet-header">{{localize "EW.game_term.boons"}}
                        <a class="item-create" title="Add Boon" data-type="trait" data-sub-type="boon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3></div>
                    <table class="item-table">
                        {{#each traits as |trait id|}}
                        
                        <tr>
                            <td class="item-name item" data-item-id="{{trait.id}}">
                                <img src="{{trait.img}}" data-edit="img" height="24" width="24"/>
                                <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.system.source}}{{#if trait.system.isTemporary}},temporary{{/if}})</em></a><br>
                                {{trait.system.description}}<br>  
                            </td>
                            <td>
                                <a class="item-delete item" data-item-id="{{trait.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        {{/each}}
                    </table>