<div class="ew-statblock ew-statborder">
<div class="ew-statblock ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.careers"}}</strong>
                        <a class="item-create" title="Add Career" data-action="addCareer" data-type="career">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
<table class="ew-stat-table" id="ew-career-table">

{{#each careers as | career |}}

<tr>
<td class="item" data-career-id="{{career.id}}">
    <!--img src="{{trait.img}}" data-edit="img" height="24" width="24"/-->
    <a data-action="statRoll" data-is-career="true" data-stat-id="{{career.id}}" data-attribute="{{@key}}" title="Roll Career">{{@key}}</a>
</td>
<td class="item" data-career-id="{{career.id}}">
    <input class="attr-name" type="text" data-dtype="Number" name="system.careers.{{@key}}.rank" value="{{career.rank}}">
</td>
<td >
    <a class="item" data-action="deleteCareer" data-career="{{@key}}" data-career-id="{{career.id}}">
        <i class="fa-solid fa-ban"></i>
    </a>
</td>
</tr>
{{/each}}
</table>
</div>
