<div class="ewhen flex-item">
                        <h3 class="traitsheet-header"><div>{{localize "EW.game_term.careers"}}</div>
                        <a class="item-create" title="Add Career" data-type="career">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    
                    <table class="item-table">
                        {{#each careers as |career id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{career.id}}">
                                <!--img src="{{trait.img}}" data-edit="img" height="24" width="24"/-->
                                <a class="career-roll" title="Edit">{{career.name}}</a>
                            </td>
                            <td class="ewhen statfield item-name item" style="width:2ch;" data-item-id="{{career.id}}"><input class="career-rank inline-edit" data-field="system.rank" type="text" value="{{career.system.rank}}" data-dtype="Number" maxwidth='3' size='3' /></td>
                            <td class="item-icons">
                                <a class="item-edit item" data-item-id="{{career.id}}"><i class="fas fa-pencil"></i></a>
                            </td>
                            <td class="item-icons">
                                
                                <a class="item-delete item" data-item-id="{{career.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>        
                </div>