<div class="ew-statblock">

<table class="ew-stat-table" id="ew-career-table">
{{#each careers as |career id|}}
<tr>
<td class="item" data-item-id="{{career.id}}">
    <!--img src="{{trait.img}}" data-edit="img" height="24" width="24"/-->
    <a data-action="careerRoll" title="Edit">{{career.name}}</a>
</td>
<td class="item" data-action="editCareerRank" data-item-id="{{career.id}}">
    <input data-field="system.rank" type="text" value="{{career.system.rank}}" data-dtype="Number" maxwidth='2' size='2' />
</td>
<td >
    <a class="item-edit item" data-item-id="{{career.id}}"><i class="fas fa-pencil"></i></a>
</td>
<td >
    
    <a class="item" data-action="deleteItem" data-item-id="{{career.id}}">
        <i class="fas fa-trash"></i>
    </a>
</td>
</tr>
{{/each}}
</table>
<div style="float:right; color:gray">Add Career <a data-action="addItem" title="Add Career" data-type="career">
<i class="fas fa-plus-square"></i>
</a></div>
</div>
