<div class="ewhen flex-item">
                 <h3 class="traitsheet-header">{{localize "EW.game_term.attributes.combat"}}</h3>
                <table class="nostretch" style="border:none; width:100%; margin:auto; padding:3px;">    
                
                    <tr>
                        <td ><a class="att-roll" data-attribute="melee">{{localize "EW.attribute.combat.melee"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.melee.rank" value="{{data.combat_attributes.melee.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.melee.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="ranged">{{localize "EW.attribute.combat.ranged"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.ranged.rank" value="{{data.combat_attributes.ranged.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.ranged.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="defense">{{localize "EW.attribute.combat.defense"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.defense.rank" value="{{data.combat_attributes.defense.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.defense.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="initiative">{{localize "EW.attribute.combat.initiative"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.initiative.rank" value="{{data.combat_attributes.initiative.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.initiative.scale}})</td>
                    </tr>
                
                </table>
                </div>