<select style="width:100%" name="difficulty" id="difficulty">
    {{#selectOption difficulty}}
        <option value="very_easy">{{localize "EW.difficulty.very_easy"}}</option>
        <option value="easy">{{localize "EW.difficulty.easy"}}</option>
        <option value="moderate" selected>{{localize "EW.difficulty.moderate"}}</option>
        <option value="hard">{{localize "EW.difficulty.hard"}}</option>
        <option value="tough">{{localize "EW.difficulty.tough"}}</option>
        <option value="demanding">{{localize "EW.difficulty.demanding"}}</option>
        <option value="formidable">{{localize "EW.difficulty.formidable"}}</option>
        <option value="heroic">{{localize "EW.difficulty.heroic"}}</option>
    {{/selectOption}}
</select>