
                     <div><h3 class="traitsheet-header">Gear and Possessions
                        <a class="item-create" title="Add Gear" data-type="equipment">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3></div>
                    <table class="item-table">
                        <tr>
                            <th colspan=2 style="text-align:left;">{{localize "EW.game_term.gearitem"}}</th>
                            <th style="text-align:left">{{localize "EW.game_term.description"}}</th>
                            <th>{{localize "EW.game_term.quantity"}}</th>
                            <th>{{proper (localize gameSettings.currencyName)}} ({{proper (localize gameSettings.creditName)}})</th>
                            <th>{{localize "EW.game_term.totalweight"}}</th>
                            <th></th>
                        </tr>
                        {{#each equipment as |equipment id|}} 
           
                        <tr>
                            <td><img src="{{equipment.img}}" height="24" width="24"/></td>
                            <td class="item-name item" data-item-id="{{equipment.id}}">
                               <a class="item-edit"><strong>{{equipment.name}}</strong></a>
                            </td>
                            <td>
                                {{equipment.system.description}}
                            </td>
                            <td style="text-align:center;">
                                {{equipment.system.quantity}}
                            </td>
                            <td style="text-align:center;">
                                {{equipment.system.currency_cost}} ({{equipment.system.credit_cost}})
                            </td>
                            <td style="text-align:center;">
                                {{equipment.system.weight}}
                            </td>
                             <td>
                                <a class="item-delete item" data-item-id="{{equipment.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
