<div class="ewhen header-flexitem healthbar">
 
                <table style="background:none">
                {{log "Healthtrack data: " data}}
                {{log "Healthrack actor: " actor}}
                {{log "Healthtrack system: " system}}
                    <tr>
                        <td><a class="adj-resource res-track" data-resource-name="lifeblood">{{localize "EW.attribute.resource.lifeblood"}} ({{actor.system.resources.lifeblood.max}})</a></td>
                        <td>
                            {{#times data.resources.lifeblood.lasting}}
                            <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.regular}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.value}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.fatigue}}
                            <i style="transform:rotate(-45deg);" class="fas fa-minus-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td class="res-track"><a class="adj-resource res-track" data-resource-name="lifeblood"><i class="fas fa-forward"></i> {{localize "EW.attribute.resource.critical"}}</a></td>
                        <td>
                            {{#times data.resources.lifeblood.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.lifeblood.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                        </td>
                    </tr>
                    {{#if (setting "useCritical")}}
                    {{#unless (or data.isTough data.isRabble)}}
                    <tr>
                        <td>{{#if (setting "useResolve")}}{{#unless data.isRabble}}<a class="adj-resource res-track" data-resource-name="resolve">{{localize "EW.attribute.resource.resolve"}} ({{data.resources.resolve.max}})</a>{{/unless}}{{/if}}</td>
                        <td>{{#if (setting "useResolve")}}
                            {{#unless data.isRabble}}
                            {{#times data.resources.resolve.lasting}}
                            <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.regular}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.value}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.fatigue}}
                            <i style="transform:rotate(-45deg);" class="fas fa-minus-circle res-box"></i>
                            {{/times}}
                            {{/unless}}
                            {{/if}}
                        </td>
                        <td class="res-track">{{#if (setting "useResolve")}}<a class="adj-resource res-track" data-resource-name="resolve"><i class="fas fa-forward"></i> {{localize "EW.attribute.resource.critical"}}{{/if}}</a></td>
                        <td>{{#if (setting "useResolve")}}{{#times data.resources.resolve.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.resolve.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}{{/if}}
                        </td>
                        <td colspan='4'></td>
                    </tr>
                    {{/unless}}
                    {{/if}}
                    
                    </table>
                 
                
                </div>