
{{log "hbs data " data}}
<div class="ew-statblock ew-statborder">
       <div class="ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.attributes.main"}}</strong></div>
        <table class="ew-stat-table" id="ew-attribute-table">
            <tr>
                <td>
                    <a data-attribute="strength" data-action="statRoll">{{proper gameSettings.strName}}</a>
                </td>
                <td >
                     <strong>{{main_attributes.strength.rank}}</strong>{{#if (setting "useScale")}} ({{main_attributes.strength.scale}}){{/if}}
                </td>
                 <td>
                    {{#if editMode}}
                            <a data-action="adjustStat" data-stat="strength" data-dir="increase"><i class="fa-regular fa-square-caret-up"></i></a><br/>
                            <a data-action="adjustStat" data-stat="strength" data-dir="decrease"><i class="fa-regular fa-square-caret-down"></i></a>
                        
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    <a data-attribute="agility" data-action="statRoll">
                        {{proper gameSettings.agiName}}
                    </a>
                </td>
                <td >{{main_attributes.agility.rank}}{{#if (setting "useScale")}} ({{main_attributes.agility.scale}}){{/if}}</td>
                <td>
                    {{#if editMode}}
                            <a data-action="adjustStat" data-stat="agility" data-dir="increase">
                                <i class="fa-regular fa-square-caret-up"></i>
                            </a><br/>
                            <a data-action="adjustStat" data-stat="agility" data-dir="decrease">
                                <i class="fa-regular fa-square-caret-down"></i>
                            </a>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td><a data-attribute="mind" data-action="statRoll">{{proper gameSettings.minName}}</a></td>
                <td  >{{main_attributes.mind.rank}}{{#if (setting "useScale")}} ({{main_attributes.agility.scale}}){{/if}}</td>
                </td>
                {{#if editMode}}
                            <a data-action="adjustStat" data-stat="mind" data-dir="increase">
                                <i class="fa-regular fa-square-caret-up"></i>
                            </a><br/>
                            <a data-action="adjustStat" data-stat="mind" data-dir="decrease">
                                <i class="fa-regular fa-square-caret-down"></i>
                            </a>
                    {{/if}}
                </td>
            </tr>   
            <tr>
                <td><a data-attribute="appeal" data-action="statRoll">{{proper gameSettings.appName}}</a></td>
                <td  >{{main_attributes.appeal.rank}}{{#if (setting "useScale")}} ({{main_attributes.appeal.scale}}){{/if}}</td>
                 </td>
                {{#if editMode}}
                            <a data-action="adjustStat" data-stat="appeal" data-dir="increase">
                                <i class="fa-regular fa-square-caret-up"></i>
                            </a><br/>
                            <a data-action="adjustStat" data-stat="appeal" data-dir="decrease">
                                <i class="fa-regular fa-square-caret-down"></i>
                            </a>
                    {{/if}}
                </td>
                
            </tr>
        </table>
</div>