
{{#if (eq EWActorType "character")}}
{{log "hbs data " data}}
<div class="ew-statblock ew-statborder">
       <div style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.attributes.main"}}</strong></div>
        <table class="ew-stat-table" id="ew-attribute-table">
            <tr>
                <td>
                    <a data-attribute="strength" data-action="attributeRoll">{{proper gameSettings.strName}}</a>
                </td>
                <td >
                    <input class="attr-name" type="text" data-dtype="Number" name="main_attributes.strength.rank" value="{{main_attributes.strength.rank}}">
                </td>
                {{#if (setting "useScale")}}
                    <td>
                        ({{main_attributes.strength.scale}})
                    </td>
                {{/if}}
            </tr>
            <tr>
                <td><a data-attribute="agility" data-action="attributeRoll">{{proper gameSettings.agiName}}</a></td>
                <td ><input class="attr-name" type="text" data-dtype="Number"  name="system.main_attributes.agility.rank" value="{{main_attributes.agility.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.agility.scale}})</td>{{/if}}
            </tr>
            <tr>
                <td><a data-attribute="mind" data-action="attributeRoll">{{proper gameSettings.minName}}</a></td>
                <td  ><input class="attr-name" type="text" data-dtype="Number"  name="system.main_attributes.mind.rank" value="{{main_attributes.mind.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.agility.scale}})</td>{{/if}}
            </tr>
            <tr>
                <td><a data-attribute="appeal" data-action="attributeRoll">{{proper gameSettings.appName}}</a></td>
                <td  ><input class="attr-name"  type="text" data-dtype="Number" name="system.main_attributes.appeal.rank" value="{{main_attributes.appeal.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.appeal.scale}})</td>{{/if}}
            </tr>
        </table>
</div>

{{/if}}
{{#if (eq EWActorType "vehicle")}}
<div class="flex-item">
                   <span class="traitsheet-header">{{localize "EW.game_term.attributes.main"}}</span>
                <table class="ew-class-table">    
                    <tr>
                        <td>{{localize "EW.attribute.vehicle.size"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.size.rank" value="{{size.rank}}"></td>
                        {{#if (setting "useScale")}}<td class="align-center">({{size.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td>{{localize "EW.attribute.vehicle.scan"}}</a></td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.scan.rank" value="{{scan.rank}}"></td>
                        {{#if (setting "useScale")}}<td class="align-center">({{scan.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td>{{localize "EW.attribute.vehicle.speed"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.speed.rank" value="{{speed.rank}}"></td>
                        {{#if (setting "useScale")}}<td class="align-center">({{speed.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td>{{localize "EW.attribute.vehicle.defense"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.def.rank" value="{{def.rank}}"></td>
                        {{#if (setting "useScale")}}<td class="align-center">({{def.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td >{{localize "EW.attribute.vehicle.crew"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.crew.rank" value="{{crew.rank}}"/</td>
                        {{#if (setting "useScale")}}<td class="align-center">({{crew.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td >{{localize "EW.attribute.vehicle.frame"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.frame.rank" value="{{frame.rank}}"/</td>
                        {{#if (setting "useScale")}}<td class="align-center">({{frame.scale}})</td>{{/if}}
                    </tr>
                    <tr>
                        <td >{{localize "EW.attribute.vehicle.armor"}}</td>
                        <td class="statfield cell"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="system.armor.rank" value="{{armor.rank}}"/</td>
                        {{#if (setting "useScale")}}<td class="align-center">({{combat_attributes.armor.scale}})</td>{{/if}}
                    </tr>
                </table>
</div>
{{/if}}