
{{log "hbs data " data}}
<div class="ew-statblock ew-statborder">
       <div class="ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.attributes.main"}}</strong></div>
        <table class="ew-stat-table" id="ew-attribute-table">
            <tr>
                <td>
                    <a data-attribute="strength" data-action="statRoll">{{proper gameSettings.strName}}</a>
                </td>
                <td >
                    <input class="attr-name" type="text" data-dtype="Number" name="main_attributes.strength.rank" value="{{main_attributes.strength.rank}}">
                </td>
                {{#if (setting "useScale")}}
                    <td>
                        ({{main_attributes.strength.scale}})
                    </td>
                {{/if}}
            </tr>
            <tr>
                <td><a data-attribute="agility" data-action="statRoll">{{proper gameSettings.agiName}}</a></td>
                <td ><input class="attr-name" type="text" data-dtype="Number"  name="system.main_attributes.agility.rank" value="{{main_attributes.agility.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.agility.scale}})</td>{{/if}}
            </tr>
            <tr>
                <td><a data-attribute="mind" data-action="statRoll">{{proper gameSettings.minName}}</a></td>
                <td  ><input class="attr-name" type="text" data-dtype="Number"  name="system.main_attributes.mind.rank" value="{{main_attributes.mind.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.agility.scale}})</td>{{/if}}
            </tr>
            <tr>
                <td><a data-attribute="appeal" data-action="statRoll">{{proper gameSettings.appName}}</a></td>
                <td  ><input class="attr-name"  type="text" data-dtype="Number" name="system.main_attributes.appeal.rank" value="{{main_attributes.appeal.rank}}"></td>
                {{#if (setting "useScale")}}<td >({{main_attributes.appeal.scale}})</td>{{/if}}
            </tr>
        </table>
</div>