
<div class="ew-statblock ew-statborder">
    <div class="ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.resources"}}</strong></div>
<table class="ew-stat-table" id="ew-pointpool-table">
{{#if (setting "useArcana")}}
<tr>
    <td>
        {{proper gameSettings.arcanaName}}
    </td>
    <td >
        <input class="attr-name"  type="text" name="system.resources.arcana_points" value="{{resources.arcana_points}}" data-dtype="Number"/><br/>
    </td>
</tr>
{{/if}}

{{#if (setting "useFaith")}}
<tr>
    <td>
        {{proper gameSettings.faithName}}
    </td>
    <td >
        <input class="attr-name"  type="text" name="system.resources.faith_points" value="{{resources.faith_points}}" data-dtype="Number"/>
    </td>
</tr>
{{/if}}

{{#if (setting "usePsionics")}}
<tr>
    <td>
        {{proper gameSettings.psionicsName}}
    </td>
    <td >
        <input class="attr-name"  type="text" name="system.resources.psi_points" value="{{resources.psi_points}}" data-dtype="Number"/>
    </td>
</tr>
{{/if}}

{{#if (setting "useCredit")}}
<tr>
    <td>
        {{localize "EW.attribute.resource.credit_rating"}}
    </td>
    <td >
        <input class="attr-name"  type="text" name="system.resources.credit_rating" value="{{resources.credit_rating}}" data-dtype="Number"/>
    </td>
</tr>
{{/if}}

{{#unless (setting "useCredit")}}
<tr>
    <td>
        {{localize "EW.game_term.currency"}}
    </td>
    <td>
        <input class="attr-name" type="text" style="width:7ch" name="system.resources.currency" value="{{resources.currency}}" data-dtype="Number"/>
    </td>
</tr>
{{/unless}}



</table>
</div>


        