
<div class="ew-itemborder">
<div class="ew-statblock ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;">
    <strong>{{localize "EW.game_term.powers"}}/
     {{localize "EW.game_term.spells"}}/
     {{localize "EW.game_term.abilities"}}
 </strong>
    <a class="item-create" title="Add Power" data-action="addItem" data-type="power">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>
                    </h3>
                    <table id="ew-power-table">
                        {{#each powers as |power id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{power.id}}">
                                <img class="ew-cs-img" src="{{power.img}}" data-edit="img" height="24" width="24"/>
                                <a class="item-edit" data-item-id="{{power.id}}" data-action="editItem" title="Edit">
                                    <strong>{{power.name}}</strong> (<i>{{power.system.power_type}}{{#if (ne power.system.magnitude "none")}},{{power.system.magnitude}}{{/if}}</i>)</a><br>{{power.system.effect}}. 
                                <em>{{power.system.success_roll}}, {{power.system.difficulty}}, {{power.system.resource_cost}}P</em></td>
                            <td>
                                <a class="item-delete item" data-action="deleteItem" data-item-id="{{power.id}}">
                                    <i class="fa-solid fa-ban"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
</div>