<div class="ew-statblock">
<div style="text-align:center; width:100%; font-size:1.25em; background-color:none;">
    <strong>{{localize "EW.game_term.powers"}}/
     {{localize "EW.game_term.spells"}}/
     {{localize "EW.game_term.abilities"}}
 </strong>
    <a class="item-create" title="Add Power" data-type="power">
        <i class="fas fa-plus-square"></i>
    </a>
</div>
                    </h3>
                    <table id="ew-power-table">
                        {{#each powers as |power id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{power.id}}">
                                <img src="{{power.img}}" data-edit="img" height="24" width="24"/>
                                <a class="item-edit" title="Edit">{{power.name}} (<i>{{power.system.power_type}}{{#if (ne power.system.magnitude "none")}},{{power.system.magnitude}}{{/if}}</i>)</a><br>{{power.system.effect}}. 
                                <em>{{power.system.success_roll}}, {{power.system.difficulty}}, {{power.system.resource_cost}}P</em></td>
                            <td>
                                <a class="item-delete item" data-item-id="{{power.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
</div>