<div class="ew-statblock">
                    <div style="text-align:center; width:100%; font-size:1.25em; background-color:none;"><strong>{{localize "EW.game_term.weapons"}}</strong>
                        <a class="item-create" title="Add Weapon" data-type="weapon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                    <table id="ew-weapon-table">
                        {{#each weapons as |weapon id|}}
        
                        <tr>
                            <td class="item-name item" data-item-id="{{weapon.id}}">
                                <a class="weapon-roll weapon-image" title="Roll Damage"><img src="{{weapon.img}}" height="24" width="24"/></a>
                                 <a class="item-edit" title="Edit"><strong>{{weapon.name}}</strong></a>
                                <br><em>{{localize weapon.system.wpn_type}}, 
                                        {{localize weapon.system.damage.dice}}
                                        {{#if (ne weapon.system.damage.add_attribute "none")}}
                                        +{{#if (eq weapon.system.damage.half_attribute true)}}
                                        &#189;
                                        {{/if}}
                                        {{setting (getCustomName weapon.system.damage.add_attribute)}}
                                        {{/if}}
                                        {{#if (ne weapon.system.damage.mod 0)}}
                                        +{{weapon.system.damage.mod}}
                                        {{/if}}
                                        , AP{{weapon.system.damage.ap}} {{#if (gt weapon.system.range 0)}}, Range {{weapon.system.range}}{{/if}}  
                                        {{#if (setting "useScale")}}{{#if (ne weapon.system.damage.scale 1)}}, scale {{weapon.system.damage.scale}}{{/if}}{{/if}}</em></td>
                            <td style="right:100%;">
                                <a class="item-delete item" data-item-id="{{weapon.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
</div>
