
                     <h3 class="traitsheet-header"><div>{{localize "EW.game_term.weapons"}}</div>
                        <a class="item-create" title="Add Weapon" data-type="weapon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each weapons as |weapon id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{weapon._id}}">
                                <a class="weapon-roll weapon-image" title="Roll Damage"><img src="{{weapon.img}}" height="24" width="24"/>
                                <strong>{{weapon.name}}</strong></a>
                                <br><em>{{localize weapon.data.wpn_type}}, 
                                        {{localize weapon.data.damage.dice}}
                                        {{#if (ne weapon.data.damage.add_attribute "none")}}
                                        +{{#if (eq weapon.data.damage.half_attribute true)}}
                                        &#189;
                                        {{/if}}
                                        {{weapon.data.damage.add_attribute}}
                                        {{/if}}
                                        {{#if (ne weapon.data.damage.mod 0)}}
                                        +{{weapon.data.damage.mod}}
                                        {{/if}}
                                        , AP{{weapon.data.damage.ap}} {{#if (gt weapon.data.range 0)}}, Range {{weapon.data.range}}{{/if}}  
                                        {{#if (setting "useScale")}}{{#if (ne weapon.data.damage.scale 1)}}, scale {{weapon.data.damage.scale}}{{/if}}{{/if}}</em></td>
                            <td>
                                <a class="item-edit item" data-item-id="{{weapon._id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-delete item" data-item-id="{{weapon._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
