<section class="tab custname {{tab.cssClass}}" 
  data-group="settings" data-tab="custname">
  <h2>Customize Game Terms</h2>
  <div class="form-group">
    <table>
       <tr style="text-align:left;">
        <th>{{localize "EW.SETTINGS.MENU.defaultAttNames"}}</th>
        <th>{{localize "EW.SETTINGS.MENU.customName"}}</th>
        <th>{{localize "EW.SETTINGS.MENU.defaultGameTermNames"}}</th>
        <th>{{localize "EW.SETTINGS.MENU.customName"}}</th>
       </tr>
       <tr>
          <td>
            {{localize "EW.SETTINGS.strName"}}
          </td>
          <td>
            <input type="text" name="strName" value="{{localize current.strName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.lifeblood"}}
          </td>
          <td>
            <input type="text" name="lbdName" value="{{localize current.lbdName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.agiName"}}
          </td>
          <td>
            <input type="text" name="agiName" value="{{localize current.agiName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.resolve"}}
          </td>
          <td>
            <input type="text" name="resName" value="{{localize current.resName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.minName"}}
          </td>
          <td>
            <input type="text" name="minName" value="{{localize current.minName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.critical"}}
          </td>
          <td>
            <input type="text" name="critName" value="{{localize current.critName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.appName"}}
          </td>
          <td>
            <input type="text" name="appName" value="{{localize current.appName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.faith"}}
          </td>
          <td>
            <input type="text" name="faithName" value="{{localize current.faithName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.melName"}}
          </td>
          <td>
            <input type="text" name="melName" value="{{localize current.melName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.arcana"}}
          </td>
          <td>
            <input type="text" name="arcanaName" value="{{localize current.arcanaName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.ranName"}}
          </td>
          <td>
            <input type="text" name="ranName" value="{{localize current.ranName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.psionics"}}
          </td>
          <td>
            <input type="text" name="psionicsName" value="{{localize current.psionicsName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.defName"}}
          </td>
          <td>
            <input type="text" name="defName" value="{{localize current.defName}}" data-dtype="String"/>
          </td>
          <td>
            {{localize "EW.attribute.resource.hero"}}
          </td>
          <td>
            <input type="text" name="heroName" value="{{localize current.heroName}}" data-dtype="String"/>
          </td>
      </tr>
      <tr>
          <td>
            {{localize "EW.SETTINGS.iniName"}}
          </td>
          <td>
            <input type="text" name="iniName" value="{{localize current.iniName}}" data-dtype="String"/>
          </td>
          <td>
           
          </td>
          <td>
            
          </td>
      </tr>
    </table>
  </div>
  
</section>