<form class="ewhen roll-dialog">
 <header class="roll-header">
        <h1 class="roll-name">{{localize "EW.pools.prompt.addnewpool"}}</h1>
    </header>

     <div class="form-group">
         <label for="newname">{{localize "EW.pools.poolname"}}</label>
         <input type="text" id="newname" data-dtype="String"/>
     </div>
     <div class="form-group">
         <label for="newmin">{{localize "EW.pools.poolmin"}}</label>
         <input type="text" id="newmin" data-dtype="Number"/>
     </div>
     <div class="form-group">
         <label for="newmax">{{localize "EW.pools.poolmax"}}</label>
         <input type="text" id="newmax" data-dtype="Number"/>
     </div>
     <div class="form-group">
         <label for="newcurrent">{{localize "EW.pools.poolcurrent"}}</label>
         <input type="text" id="newcurrent" data-dtype="Number"/>
     </div>
 </div>


</form>