<div class="ew-statblock ew-statborder">
       <div class="ew-heading-border ew-section-header" style="text-align:center; width:100%; font-size:1.25em; background-color:none;">
        <strong>{{localize "EW.game_term.attributes.main"}}</strong>
        </div>
        <table class="ew-stat-table" id="ew-attribute-table">
            <tr>
                <td><a data-attribute="strength" data-action="statRoll">{{proper gameSettings.strName}}</a></td>
           
                <td><a data-attribute="agility" data-action="statRoll">{{proper gameSettings.agiName}}</a></td>
           
                <td><a data-attribute="mind" data-action="statRoll">{{proper gameSettings.minName}}</a></td>
            
                <td><a data-attribute="appeal" data-action="statRoll">{{proper gameSettings.appName}}</a></td>
           
                <td><a data-attribute="melee" data-action="statRoll">{{proper gameSettings.melName}}</a></td>
            
                <td ><a class="att-roll" data-attribute="ranged" data-action="statRoll">{{proper gameSettings.ranName}}</a></td>
            
                <td ><a class="att-roll" data-attribute="defense" data-action="statRoll">{{proper gameSettings.defName}}</a></td>
           
                <td ><a class="att-roll" data-attribute="initiative" data-action="statRoll">{{proper gameSettings.iniName}}</a></td>
            </tr>
        </table>
</div>