<form class="ewhen roll-dialog">
<h1 class="roll-name">{{localize "EW.rolltype.armorroll"}}</h1>
    <div style="margin:auto; text-align:center;">
    <p><strong>
        {{armor}}: {{protection}}
        </strong>
    </p>
</div>
    
    <div class="taskroll-final {{outClass}}" style="font-size:x-large; color:white; margin:auto; text-align:center">
        {{total}}
    </div>
    <div><hr/>{{tooltip}}</div>
</form>