<form class="ewhen roll-dialog">
 <header class="roll-header taskroll-info">
        <h1 class="roll-name">{{localize "EW.rolltype.armorroll"}}
            <div class="taskroll-final roll-sux" style="">
                {{total}}
            </div>
        </h1>
</header>
<div class="dmgroll-msg taskroll-info">
    <p> <strong>
        <img style="float:left; margin-right:12px; vertical-align:center;" src="{{img}}" height="48" width="48">
        {{name}}<br>Protection: {{protection}}{{#if (ne armorbonus 0)}}+{{armorbonus}}{{/if}}
        </strong>
    </p>
</div>
<div class="taskroll-tt">
    <hr>
    <div>{{tooltip}}</div>
</div>