<form class="ewhen roll-dialog">
 <header class="roll-header">
        <h1 class="ewhen roll-name">{{#if (ne attr "")}}{{#proper (setting (getCustomName attr))}}{{/proper}} {{localize "EW.rolltype.roll"}}{{else}}{{localize "EW.rolltype.taskroll"}}{{/if}}</h1>
    </header>

{{!-- primary - primary attributes object primary.(attribute), blah blah .rank --}}
{{!-- combat - combat attributes object - combat.(attribute), blah blah .rank --}}
{{!-- careers - careers object - career, (career).rank --}}
 <div class="ewhen roll-dialog">
     <div class="form-group">
         <label for="att">{{localize "EW.game_term.attribute.singular.main"}}</label>
         <select id="pattr" style="width:100%;" name="primary" data-main-att="primary">
            {{#select primary}}
                {{#each primary as |a name|}}
                    <option value="{{name}}"
                    {{#if (eq name ../attr2)}}
                    selected
                    {{/if}}
    
                    {{#if (eq name ../attr)}}
                    selected
                    {{/if}}>{{setting (getCustomName name)}}{{!--localize (proper name)--}}</option>
                {{/each}}
            {{/select}}
         </select>
     </div>
     <div class="form-group">
         <label for="att">{{localize "EW.game_term.attribute.singular.combat"}}</label>
         <select id="cattr" style="width:100%;" name="primary" data-main-att="combat">
             <option value="none" {{#unless isCombat}}selected{{/unless}}></option>
            {{#select combat}}
                {{#each combat as |a name|}}
                    <option value="{{name}}" {{#ife ../attr name}}selected{{/ife}}>{{proper (setting (getCustomName name))}}</option>
                {{/each}}
            {{/select}}
         </select>
     </div>
    
        <div class="form-group">
         <label for="career">{{localize "EW.game_term.career"}}</label>
         <select id="career" style="width:100%;" name="career">
             <option value="none"></option>
            {{#select careers}}
                {{#each careers as |c|}}
                    <option class="career-option" value="{{c.name}}" data-item-id="{{c._id}}" {{#ife ../itemName c.name}}selected{{/ife}}>{{c.name}}</option>
                {{/each}}
            {{/select}}
         </select>
     </div>
     
     <div class="form-group">
         <table class="roll-mods">
             <tr>
                 <th>{{localize "EW.game_term.difficulty"}}</th>
                 <th>{{localize "EW.game_term.penalties"}}</th>
             </tr>
             <tr>
                 <td>
                   {{> "systems/ewhen/templates/partials/DiffList.hbs"}}
                 </td>
                 <td class="roll-mods">
                     <input id="othermods" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
             <tr>
             <th>{{localize "EW.game_term.bonusdice"}}</th>
             <th>{{localize "EW.game_term.penaltydice"}}</th>
             </tr>
             <tr>
                 <td class="roll-mods">
                    <select id="bdice" style="width:100%" name="bdice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                 </td>
                 <td class="roll-mods">
                    <select id="pdice" style="width:100%" name="pdice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                 </td>
             </tr>
         </table>         
     </div>
 </div>


</form>