{{log "crPicked" crPicked}}
<form class="ew-roll-dialog standard-form" id="#basicroll">
 <header class="roll-header">
        <h1 class="ew-roll-name">{{localize "EW.rolltype.taskroll"}}</h1>
    </header>

{{!-- primary - primary attributes object primary.(attribute), blah blah .rank --}}
{{!-- combat - combat attributes object - combat.(attribute), blah blah .rank --}}
{{!-- careers - careers object - career, (career).rank --}}
 <div class="ew-roll-dialog">
     <div class="form-group">
         <label for="att">{{localize "EW.game_term.attribute.singular.main"}}</label>
         <select id="pattr" style="width:100%;color:white;" name="primary" data-main-att="primary">
            {{selectOptions priSelect selected=maPicked}}
         </select>
     </div>
     <div class="form-group">
         <label for="att">{{localize "EW.game_term.attribute.singular.combat"}}</label>
         <select id="cattr" style="width:100%;" name="combat" data-main-att="combat">
              {{selectOptions comSelect selected=caPicked}}
         </select>
     </div>
    
        <div class="form-group">
         <label for="career">{{localize "EW.game_term.career"}}</label>
         <select id="career" style="width:100%;" data-main-att="career" name="career">
             {{selectOptions carSelect selected=crPicked}}
         </select>
     </div>
     
     <div class="form-group">
         <table class="roll-mods">
             <tr>
                 <th>{{localize "EW.game_term.difficulty"}}</th>
                 <th>{{localize "EW.game_term.penalties"}}</th>
             </tr>
             <tr>
                 <td>
                   <select style="width:100%" name="difficulty" id="difficulty">
                    {{selectOptions diffSelect selected="moderate" localize=true}}
                    
                </select>
                 </td>
                 <td class="roll-mods">
                     <input id="othermods" type="text" value="0" data-dtype="Number"/>
                 </td>
             </tr>
             <tr>
             <th>{{localize "EW.game_term.bonusdice"}}</th>
             <th>{{localize "EW.game_term.penaltydice"}}</th>
             </tr>
             <tr>
                 <td class="roll-mods">
                    <select id="bdice" style="width:100%" name="bdice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                 </td>
                 <td class="roll-mods">
                    <select id="pdice" style="width:100%" name="pdice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                 </td>
             </tr>
         </table>         
     </div>
 </div>


</form>