<form>
<div class="chat-container">
    <div class="chat-rollname">
                {{rollTitle}}
    </div>
    <div class="chat-rollicon">
        {{#if (eq outcome "Mighty Success!")}}
        <a data-actor-id="{{actor}}" id="legendize" data-action="legendize" class="taskroll-final {{outclass}}" title="Make Legendary!"><i class="fas fa-fist-raised"></i></a>
        {{/if}}
    </div>
    <div class="chat-rolltotal {{outclass}}">
                    {{rollTotal}}
    </div>
    <div class="chat-rolloutcome {{outclass}}">
        {{outcome}}
    </div>
    <div class="chat-rolldetails">
        <p> {{breakdown}}
    </div>
    <div class="chat-rolltooltip">
        {{tooltip}}
    </div>

</div>
</form>