

<div class="ew-cs-container {{cssClass}}">
  <div class="ew-cs-image">
	<img class="profile-img ew-cs-img" 
		 src="{{actor.img}}" 
		 data-edit="img" 
		 title="{{actor.name}}" 
		 height="64" 
		 width="64"/>
  </div>
  <div class="ew-cs-name">
	<input 
	name="name" 
	type="text" 
	value="{{actor.name}}" 
	placeholder="Name"/><br/>

  </div>
  <div class="ew-cs-toggles">
	<input class="npc-boxes" data-minor-type="rival" id="minorNpc" name="system.isRival" type="checkbox" {{checked isRival}} /><label for="isRival">Rival</label>
	<input class="npc-boxes" data-minor-type="tough" id="minorNpc" name="system.isTough" type="checkbox" {{checked isTough}} /><label for="isTough">Tough</label>
	<input class="npc-boxes" data-minor-type="rabble" id="minorNpc" name="system.isRabble" type="checkbox" {{checked isRabble}} /><label for="isRabble">Rabble</label>
  </div>
  <div class="ew-cs-rollbutton ">
        <a class="ew-roll-icon" data-action="basicRoll"><i class="fa fa-dice-six"></i></a>
  </div>
  <div class="ew-cs-attributes">
   {{> 'systems/ewhen/templates/partials/MainAttributes.hbs'}}
  </div>
  <div class="ew-cs-abilities">
	{{> 'systems/ewhen/templates/partials/CombatAttributes.hbs'}}
  </div>
  <div class="ew-cs-careers">
	{{#unless isRabble}} {{> 'systems/ewhen/templates/partials/CareerList.hbs'}} {{/unless}}
  </div>
  <div class="ew-cs-points">
  {{#unless (or isRabble isTough)}}
	{{> 'systems/ewhen/templates/partials/PointPools.hbs'}}
	{{/unless}}
	</table>
  </div>
  <div class="ew-cs-trackers">
	{{> 'systems/ewhen/templates/partials/HealthTracks.hbs'}}
  </div>
  <div class="ew-cs-boonflaw">
	{{> 'systems/ewhen/templates/partials/BoonList.hbs'}}

  </div>
  <div class="ew-cs-weapons">
	{{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}
  </div>
  <div class="ew-cs-powers">
	{{#unless (or isTough isRabble)}} {{> 'systems/ewhen/templates/partials/PowerList.hbs'}} {{/unless}}
  </div>
  <div class="ew-cs-armor">
	{{> 'systems/ewhen/templates/partials/ArmorList.hbs'}}
  </div>
  <div class="ew-cs-equipment">
	{{> 'systems/ewhen/templates/partials/EquipmentList.hbs'}}
	</div>
  <div class="ew-cs-quickref">
    <div class="ew-statblock" style="font-weight:bold; font-size:1.15em; height:100%; text-align:center; background-color:#b2beb573">
      <p>Very Easy&nbsp;+2 Easy&nbsp;+1 Moderate&nbsp;+0 Hard&nbsp;-1 Tough&nbsp;-2 Demanding&nbsp;-4 Formidable&nbsp;-6 Heroic&nbsp;-8<br/>
      0 - 1 - d3 - d6L - d6 - d6H - 2d6L - 2d6 - 2d6H - 3d6L - 3d6 - 3d6H</p>
    </div> 
  </div>
</div>
