
<form class="{{cssClass}}" autocomplete="off">
    <header>
        <div class="flexrow" style="justify-content:flex-start">
            <div class="flex-item" style="flex-grow:0">
                <img src="{{actor.img}}" style="min-width:64px; margin-right:12px;" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                
            </div>
            <div class="flex-item">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </div>
            <div class="flex-item flex1">
                <div class="form-group">
                <input data-minor-type="rival" id="minorNpc" name="system.isRival" type="checkbox" {{checked isRival}} /><label for="isRival">Rival</label>
                <input data-minor-type="tough" id="minorNpc" name="system.isTough" type="checkbox" {{checked isTough}} /><label for="isTough">Tough</label>
                <input data-minor-type="rabble" id="minorNpc" name="system.isRabble" type="checkbox" {{checked isRabble}} /><label for="isRabble">Rabble</label>
                </div>
            </div>
            <div class="flex-item">
                <a data-action="basicRoll" style="font-size:4em;"><i class="fa fa-dice-six"></i></a>
            </div>
        </div>
       
           
        
    </header>
    

{{!-- Sheet Tab Navigation --}}
<section class="sheetbody">
    
      
                <div class="flexrow" style="align-items:flex-start; justify-content:space-between">
                    
                            {{> 'systems/ewhen/templates/partials/MainAttributes.hbs'}}
                    
                            {{> 'systems/ewhen/templates/partials/CombatAttributes.hbs'}}
                   
                    {{#unless (or isTough isRabble)}} 
                  
                        {{> 'systems/ewhen/templates/partials/CareerList.hbs'}} 
                   
                        {{> 'systems/ewhen/templates/partials/PointPools.hbs'}}
                  
                    {{/unless}}
                  
                </div>
                <div class="flexcol">
                    <div class="flexrow" style="color:white; ">
                            {{> 'systems/ewhen/templates/partials/HealthTracks.hbs'}}
                        </div>
                </div>
                <div class="flexrow">
                    <div class="flex-item">
                        {{> 'systems/ewhen/templates/partials/BoonList.hbs'}}
                        {{> 'systems/ewhen/templates/partials/FlawList.hbs'}}
                        {{#unless (or isTough isRabble)}} {{> 'systems/ewhen/templates/partials/PowerList.hbs'}} {{/unless}}

                    </div>
                    <div class="flex-item">
                        {{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}
                        {{> 'systems/ewhen/templates/partials/ArmorList.hbs'}}
                        {{> 'systems/ewhen/templates/partials/EquipmentList.hbs'}}
                    </div>
                    
                </div>
    
     
        <!--div class="tab misc">
            <div class="flexcol">
                <div class="flexrow">
                     <div class="flex-item">
                         <h3><div>{{localize "EW.game_term.miscmods"}}</div>
                    </h3>

                    <table>
                        <tr>
                     <td>
                            {{localize "EW.game_term.size"}}: <select name="system.size" id="size" style="color:white">
                                {{selectOptions config.sizes selected=size localize=true}}
                         
                            </select>
                            {{localize "EW.attribute.resource.lifeblood"}} <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.resources.lifeblood.misc_lfb" value="{{resources.lifeblood.misc_lfb}}" data-dtype="Number"/>
                            {{localize "EW.attribute.resource.resolve"}} <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.resources.resolve.misc_res" value="{{resources.resolve.misc_res}}" data-dtype="Number"/>
                            {{localize "EW.game_term.armor"}} <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.miscarmor" value="{{miscarmor}}" data-dtype="Number"/>
                            {{localize "EW.game_term.initbd"}}: <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.priority_roll.bd" value="{{priority_roll.bd}}" data-dtype="Number"/>
                            {{localize "EW.game_term.initpd"}}: <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.priority_roll.pd" value="{{priority_roll.pd}}" data-dtype="Number"/>
                             {{localize "EW.game_term.initmod"}}: <input style="background:black; margin-right:8px" class="statfield" type="text" name="system.priority_roll.miscMod" value="{{priority_roll.miscMod}}" data-dtype="Number"/>


                        </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="flex-item edit-cont">
                        {{editor backstory target="system.backstory" button=true owner=owner editable="editable"}}
                    </div>
                </div>

            </div>
        </div-->

    </section>
</form>