<form class="{{cssClass}}" autocomplete="off">
    <header class="ewhen sheethead">
        <div class="ewhen header-flexitem">
        <img class="ewhen charimg" style="float:left;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="ewhen header-flexitem name-block">
            <div class="charname">
                <input class="ewhen charname" style="width:50%; vertical-align:top; background:lightgray;" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                <div class="form-group" style="float:right"><input class="npc-boxes" id="isRival" name="data.isRival" type="checkbox" {{checked data.isRival}} /><label for="isRival">Rival</label>
                <input class="npc-boxes" id="isTough" name="data.isTough" type="checkbox" {{checked data.isTough}} /><label for="isTough">Tough</label>
                <input class="npc-boxes" id="isRabble" name="data.isRabble" type="checkbox" {{checked data.isRabble}} /><label for="isRabble">Rabble</label>
                </div>
            </div>
        
        <table>
					<tr>
					  <td style="border-left:2px">  
                           {{localize "EW.attribute.resource.hero_points"}} <input class="ewhen statfield" type="text" name="data.resources.hero_points" value="{{data.resources.hero_points}}" data-dtype="Number"/>
                        </td>
                        <td>
                             {{#if (setting "useArcana")}}{{localize "EW.attribute.resource.arcana_points"}} <input class="ewhen statfield" type="text" name="data.resources.arcana_points" value="{{data.resources.arcana_points}}" data-dtype="Number"/>{{/if}}
                        </td>
                        <td>
                              {{#if (setting "useFaith")}}{{localize "EW.attribute.resource.faith_points"}} <input class="ewhen statfield" type="text" name="data.resources.faith_points" value="{{data.resources.faith_points}}" data-dtype="Number"/>{{/if}}
                        </td>
                        <td>
                            {{#if (setting "usePsionics")}}{{localize "EW.attribute.resource.psi_points"}} <input class="ewhen statfield" type="text" name="data.resources.psi_points" value="{{data.resources.psi_points}}" data-dtype="Number"/>{{/if}}
                        </td>
					</tr>
					</table>
            
                {{> 'systems/ewhen/templates/partials/HealthTracks.hbs'}}
            
        </div>
       <div class="ewhen flexcol">
        <div style="align-items:flex-start;"><a class="basic-roll roll-icon" style="margin:0px !important;"><i class="fa fa-dice-six"></i></a></div>
        
        </div>
        
    </header>
    

    <section class="sheetbody">
        <div class="ewhen flexcol"> {{!--Outermost Flex Container--}}
            <div class="ewhen flexrow">
                {{> 'systems/ewhen/templates/partials/MainAttributes.hbs'}}
                {{> 'systems/ewhen/templates/partials/CombatAttributes.hbs'}}
                {{> 'systems/ewhen/templates/partials/CareerList.hbs'}}
            </div>
            <!--div class="ewhen flexrow">
                {{> 'systems/ewhen/templates/partials/HealthTracks.hbs'}}
            </div-->
            <div class="ewhen flexrow">
                <div class="ewhen flex-item">
                    {{> 'systems/ewhen/templates/partials/BoonList.hbs'}}
                    {{> 'systems/ewhen/templates/partials/FlawList.hbs'}}
                    {{> 'systems/ewhen/templates/partials/PowerList.hbs'}}
                </div>
                    {{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}	
            </div>
    </section> 
</form>