<form class="{{cssClass}}" autocomplete="off">
    <header class="ewhen sheet-header">
        <img class="ewhen charimg" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <h1 class="charname">
            <input class="ewhen charname" style="background:lightgray;" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>
        <a class="basic-roll"><i class="fa fa-dice-six"></i></a>
    </header>
    

    <section class="sheetbody">
        <div class="ewhen flexcol"> {{!--Outermost Flex Container--}}
            <div class="ewhen flexrow">
                <div class="ewhen flex-item">
                   <h3 class="traitsheet-header">{{localize "EW.game_term.attributes.main"}}</h3>
                <table class="nostretch" style="border:none; width:100%; margin:auto; padding:3px;">    
                    <tr>
                        <td><a class="att-roll" data-attribute="strength">{{localize "EW.attribute.main.strength"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.main_attributes.strength.rank" value="{{data.main_attributes.strength.rank}}"></td>
                        <td class="align-center">({{data.main_attributes.strength.scale}})</td>
                    </tr>
                    <tr>
                        <td><a class="att-roll" data-attribute="agility">{{localize "EW.attribute.main.agility"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.main_attributes.agility.rank" value="{{data.main_attributes.agility.rank}}"></td>
                        <td class="align-center">({{data.main_attributes.agility.scale}})</td>
                    </tr>
                    <tr>
                        <td><a class="att-roll" data-attribute="mind">{{localize "EW.attribute.main.mind"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.main_attributes.mind.rank" value="{{data.main_attributes.mind.rank}}"></td>
                        <td class="align-center">({{data.main_attributes.agility.scale}})</td>
                    </tr>
                    <tr>
                        <td><a class="att-roll" data-attribute="appeal">{{localize "EW.attribute.main.appeal"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.main_attributes.appeal.rank" value="{{data.main_attributes.appeal.rank}}"></td>
                        <td class="align-center">({{data.main_attributes.appeal.scale}})</td>
                    </tr>
                </table>
                </div>
                <div class="ewhen flex-item">
                 <h3 class="traitsheet-header">{{localize "EW.game_term.attributes.combat"}}</h3>
                <table class="nostretch" style="border:none; width:100%; margin:auto; padding:3px;">    
                
                    <tr>
                        <td ><a class="att-roll" data-attribute="melee">{{localize "EW.attribute.combat.melee"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.melee.rank" value="{{data.combat_attributes.melee.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.melee.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="ranged">{{localize "EW.attribute.combat.ranged"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.ranged.rank" value="{{data.combat_attributes.ranged.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.ranged.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="defense">{{localize "EW.attribute.combat.defense"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.defense.rank" value="{{data.combat_attributes.defense.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.defense.scale}})</td>
                    </tr>
                    <tr>
                        <td ><a class="att-roll" data-attribute="initiative">{{localize "EW.attribute.combat.initiative"}}</a></td>
                        <td class="ewhen statfield"><input class="attr-name" type="text" data-dtype="Number" size="2" maxlength="2" width="2" name="data.combat_attributes.initiative.rank" value="{{data.combat_attributes.initiative.rank}}"/</td>
                        <td class="align-center">({{data.combat_attributes.initiative.scale}})</td>
                    </tr>
                
                </table>
                </div>
                <div class="ewhen flex-item">
                        <h3 class="traitsheet-header"><div>{{localize "EW.game_term.careers"}}</div>
                        <a class="item-create" title="Add Career" data-type="career">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each careers as |career id|}}
                        <tr class="career-item item" data-item-id="{{career._id}}">
                            <td><a class="career-roll"><i class="fas fa-dice-five"></i></a></td>
                            <td><input class="career-name inline-edit" data-field="name" type="text" value="{{career.name}}" /></td>
                            <td class="ewhen statfield"><input class="career-rank inline-edit" data-field="data.rank" type="text" value="{{career.data.rank}}" data-dtype="Number" maxwidth='3' size='3' /></td>
                            <!--td style="text-align:right"><i class="fa fa-edit edit-career" data-item-id="{{item._id}}"></i><i style="margin-left:2px; margin-right:2px;" class="fa fa-trash"></i></td-->
                            <td>
                                <a class="item-delete item" data-item-id="{{career._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>        
                </div>
            </div>
            <div class="ewhen flexrow">
                <div class="ewhen flex-item healthbar">
                <table>
                    <tr>
                        <td><a class="adj-resource res-track" data-resource-name="lifeblood">{{localize "EW.attribute.resource.lifeblood"}}</a></td>
                        <td>
                            {{#times data.resources.lifeblood.lasting}}
                            <i class="fas fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.regular}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.current}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.lifeblood.fatigue}}
                            <i style="transform:rotate(-45deg);" class="fas fa-minus-circle res-box"></i>
                            {{/times}}
                        
                        </td>
                        <td class="res-track">{{localize "EW.attribute.resource.critical"}}</td>
                        <td>
                            {{#times data.resources.lifeblood.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.lifeblood.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td style="border-left:2px">{{localize "EW.attribute.resource.hero_points"}}  
                            <input class="ewhen statfield" type="text" name="data.resources.hero_points" value="{{data.resources.hero_points}}" data-dtype="Number"/>
                            {{localize "EW.attribute.resource.arcana_points"}} 
                             <input class="ewhen statfield" type="text" name="data.resources.arcana_points" value="{{data.resources.arcana_points}}" data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><a class="adj-resource res-track" data-resource-name="resolve">{{localize "EW.attribute.resource.resolve"}}</a></td>
                        <td>{{#times data.resources.resolve.lasting}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.regular}}
                            <i class="fas fa-adjust res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.current}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                            {{#times data.resources.resolve.fatigue}}
                            <i class="far fa-dot-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td class="res-track">{{localize "EW.attribute.resource.critical"}}</td>
                        <td>{{#times data.resources.resolve.critical}}
                            <i class="fas fa-times-circle res-box"></i>
                            {{/times}}
                            {{#times (minus 5 data.resources.resolve.critical)}}
                            <i class="far fa-circle res-box"></i>
                            {{/times}}
                        </td>
                        <td>
                            {{localize "EW.attribute.resource.faith_points"}} <input class="ewhen statfield" type="text" name="data.resources.faith_points" value="{{data.resources.faith_points}}" data-dtype="Number"/>
                            {{localize "EW.attribute.resource.psi_points"}}  <input class="ewhen statfield" type="text" name="data.resources.psi_points" value="{{data.resources.psi_points}}" data-dtype="Number"/>
                        </td>

                    </tr>
                    </table>
                 
                
                </div>
            </div>
            <div class="ewhen flexrow">
                <div class="ewhen flex-item">
                            <h3 class="traitsheet-header"><div>{{localize "EW.game_term.boons"}}</div>
                        <a class="item-create" title="Add Boon" data-type="trait" data-sub-type="boon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each traits as |trait id|}}
                        {{#ife trait.data.type "boon"}}
                        <tr>
                            <td class="item-name item" data-item-id="{{trait._id}}">
                                <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.data.source}}{{#if trait.data.isTemporary}},temporary{{/if}})</em></a><br>
                                {{trait.data.description}}<br>  
                            </td>
                            <td>
                                <a class="item-delete item" data-item-id="{{trait._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/ife}}
                        {{/each}}
                    </table>
                    <h3 class="traitsheet-header"><div>{{localize "EW.game_term.flaws"}}</div>
                        <a class="item-create" title="Add Flaw" data-type="trait" data-sub-type="flaw">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each traits as |trait id|}}
                        {{#ife trait.data.type "flaw"}}
                        <tr>
                            <td class="item-name item" data-item-id="{{trait._id}}">
                                <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.data.source}}{{#if trait.data.isTemporary}},temporary{{/if}})</em></a><br>
                                {{trait.data.description}}<br>
                                
                            </td>
                            <td>
                                <a class="item-delete item" data-item-id="{{trait._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/ife}}
                        {{/each}}
                    </table>
                    <h3 class="traitsheet-header"><div>{{localize "EW.game_term.powers"}}</div>
                        <a class="item-create" title="Add Power" data-type="power">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each powers as |power id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{power._id}}">
                                <a class="item-edit" title="Edit">{{power.name}} (<i>{{power.data.source}}{{#if power.data.isTemporary}},temporary{{/if}}</i>)</a><br>{{power.data.description}}</td>
                            <td>
                                <a class="item-delete item" data-item-id="{{power._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="ewhen flex-item">
                     <h3 class="traitsheet-header"><div>{{localize "EW.game_term.weapons"}}</div>
                        <a class="item-create" title="Add Weapon" data-type="weapon">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </h3>
                    <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                        {{#each weapons as |weapon id|}}
                        <tr>
                            <td class="item-name item" data-item-id="{{weapon._id}}">
                                <a class="item-edit" title="Edit"><strong>{{weapon.name}}</strong></a>
                                <br><em>{{localize weapon.data.wpn_type}}, 
                                        {{localize weapon.data.damage.dice}}
                                        {{#if (ne weapon.data.damage.add_attribute "none")}}
                                        +{{#if (eq weapon.data.damage.half_attribute true)}}
                                        &#189;
                                        {{/if}}
                                        {{weapon.data.damage.add_attribute}}
                                        {{/if}}
                                        {{#if (ne weapon.data.damage.mod 0)}}
                                        +{{weapon.data.damage.mod}}
                                        {{/if}}
                                        , AP{{weapon.data.damage.ap}} {{#if (gt weapon.data.range 0)}}, Range {{weapon.data.range}}{{/if}}  
                                        {{#if (ne weapon.data.damage.scale 1)}}, scale {{weapon.data.damage.scale}}{{/if}}</em></td>
                            <td>
                                <a class="item-delete item" data-item-id="{{weapon._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>		
            </div>
    </section>
    <!--section style="display:inline-flex; border:1px solid white; height:100%; width:128px; clear:both;" class="sidebar">
        Placeholder
    </section-->    
</form>