<form class="ewhen actor-sheet editable" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>
    
    <section class="ewhen sheetbody">
    
    {{!-- Attributes Block --}}
        <div class="ewhen flex-container">
           
            <div class="ewhen flex-item">
                 <h3>{{localize "EW.game_term.attributes"}}</h3>
                <table class="nostretch" style="border:none; width:100%; margin:auto; padding:3px;">    
                {{#each config.attributes as |attr id|}}
                    <tr>
                        <td data-attribute="{{id}}"><a class="sheetroll">{{localize attr}}</a></td>
                        <td class="ewhen statfield" data-edit="data.attributes.{{attr}}.rank" contenteditable>{{data.attributes.attr.rank}}</td>
                        <td class="ewhen statfield">({{data.attributes.id.scale}})</td>
                    </tr>
                {{/each}}
                </table>
            </div>
        

            {{!-- Career Listing --}}
            <div class="ewhen flex-item" id="careers">
                <h3 class="traitsheet-header"><div>{{localize "EW.game_term.careers"}}</div>
                    <a class="item-create" title="Add Career" data-type="career">
                        <i class="fas fa-plus-square"></i>
                    </a>
                </h3>
                
                <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                    {{#each careers as |career id|}}
                    <tr class="career-item item" data-item-id="{{career._id}}">
                        <td><a class="career-roll"><i class="fas fa-dice-five"></i></a></td>
                        <td><input class="career-name inline-edit" data-field="name" type="text" value="{{career.name}}" /></td>
                        <td class="ewhen statfield"><input class="career-rank inline-edit" data-field="data.rank" type="text" value="{{career.data.rank}}" data-dtype="Number" maxwidth='3' size='3' /></td>
                        <!--td style="text-align:right"><i class="fa fa-edit edit-career" data-item-id="{{item._id}}"></i><i style="margin-left:2px; margin-right:2px;" class="fa fa-trash"></i></td-->
                        <td>
                            <a class="item-delete item" data-item-id="{{career._id}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

                {{!-- Resources --}}
                <div class="ewhen flex-item">
                    <h3>{{localize "EW.game_term.resource_pools"}}</h3>
                    <table>
                        <tr>
                            <td>{{localize "EW.attribute.resource.lifeblood"}}</td>
                            <td>{{data.resources.lifeblood}}</td>
                        </tr>
                        <tr>
                            <td>{{localize "EW.attribute.resource.resolve"}}</td>
                            <td>{{data.resources.resolve}}</td>
                        </tr>
                    </table>
                </div>
            </div>


        {{!-- Lifeblood and Resolve Rows --}}
        <hr>
        <div class="ewhen health">
            <table>
                <tr>
                    <td>{{localize "EW.attribute.resource.lifeblood"}}</td>
                    <td>{{#times data.resources.lifeblood}}
                        <input type="checkbox" />
                        {{/times}}
                    </td>
                </tr>
                <tr>
                    <td>{{localize "EW.attribute.resource.resolve"}}</td>
                    <td>{{#times data.resources.resolve}}
                            <input type="checkbox" />
                        {{/times}}
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="ewhen flex-container">
               
        {{!-- Boon Block --}}
        <div class="ewhen flex-item">
           <h3 class="traitsheet-header"><div>{{localize "EW.game_term.boons"}}</div>
                <a class="item-create" title="Add Boon" data-type="trait" data-sub-type="boon">
                    <i class="fas fa-plus-square"></i>
                </a>
            </h3>
            <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                {{#each traits as |trait id|}}
                {{#ife trait.data.type "boon"}}
                <tr>
                    <td class="item-name item" data-item-id="{{trait._id}}">
                        <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.data.source}}{{#if trait.data.isTemporary}},temporary{{/if}})</em></a><br>
                        {{trait.data.description}}<br>  
                    </td>
                    <td>
                        <a class="item-delete item" data-item-id="{{trait._id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/ife}}
                {{/each}}
            </table>
      
        </div>

        {{!-- Flaw Block --}}
       <div class="ewhen flex-item">
            <h3 class="traitsheet-header"><div>{{localize "EW.game_term.flaws"}}</div>
                <a class="item-create" title="Add Flaw" data-type="trait" data-sub-type="flaw">
                    <i class="fas fa-plus-square"></i>
                </a>
            </h3>
            <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                {{#each traits as |trait id|}}
                {{#ife trait.data.type "flaw"}}
                <tr>
                    <td class="item-name item" data-item-id="{{trait._id}}">
                        <a class="item-edit" title="Edit">{{trait.name}} (<em>{{trait.data.source}}{{#if trait.data.isTemporary}},temporary{{/if}})</em></a><br>
                        {{trait.data.description}}<br>
                        
                    </td>
                    <td>
                        <a class="item-delete item" data-item-id="{{trait._id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/ife}}
                {{/each}}
            </table>
        </div>

        {{!-- Powers Block --}}
        <div class="ewhen flex-item">
            <h3>{{localize "EW.game_term.powers"}}</h3>
            <table style="border:none; height:auto; width:100%; margin:auto; padding:3px;">
                {{#each powers as |power id|}}
                <tr>
                    <td class="item-name">{{power.name}}<br>{{power.data.description}}<br><i>{{power.data.source}}{{#if power.data.isTemporary}},temporary{{/if}}</i></td>
                    <td>
                        <a class="item-delete item" data-item-id="{{power._id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                        <td>
                        <a class="item-delete item" data-item-id="{{power._id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        

    </section>
    
</form>

