<form class="ewhen roll-dialog">
 <header class="roll-header">
        <h1 class="roll-name">{{localize resname}}</h1>
    </header>

{{!-- primary - primary attributes object primary.(attribute), blah blah .rank --}}
{{!-- combat - combat attributes object - combat.(attribute), blah blah .rank --}}
{{!-- careers - careers object - career, (career).rank --}}
 <div class="ewhen roll-dialog">
 {{#unless (eq res "frame")}}
     <div class="form-group">
         <label for="fatdmg">{{localize "EW.damage.type.fatigue"}}</label>
         <input type="text" id="fatdmg" value="{{resinfo.fatigue}}" data-dtype="Number"/>
     </div>
     <div class="form-group">
         <label for="regdmg">{{localize "EW.damage.type.normal"}}</label>
         <input type="text" id="regdmg" value="{{resinfo.regular}}" data-dtype="Number"/>
     </div>
 {{/unless}}
     <div class="form-group">
         <label for="lasdmg">{{localize "EW.damage.type.lasting"}}</label>
         <input type="text" id="lastdmg" value="{{resinfo.lasting}}" data-dtype="Number"/>
     </div>
 {{#unless (eq resname "EW.activity.adjustshield")}} {{#if (setting "useCritical")}}
     <div class="form-group">
         <label for="critdmg">{{localize "EW.damage.type.critical"}}</label>
         <input type="text" id="critdmg" value="{{resinfo.critical}}" data-dtype="Number"/>
     </div>
     {{/if}}
 {{/unless}}
 </div>


</form>