

<div class="ew-cs-container {{cssClass}}" id="actorsheet">
  <div class="ew-cs-image">
	<img class="profile-img ew-cs-img" 
		 src="{{actor.img}}" 
		 data-edit="img" 
     data-action="editImage"
		 title="{{actor.name}}" 
		 height="64" 
		 width="64"/>
  </div>
  <div class="ew-cs-name">
	<input 
	name="name" 
	type="text" 
	value="{{actor.name}}" 
	placeholder="Name"/>
  <a data-action="toggleEditMode">{{#if editMode}}Switch to Play Mode{{else}}Switch to Edit Mode{{/if}}</a>
  </div>
  <div class="ew-cs-toggles">
     <div>
      <strong>Type: </strong>{{proper actor.type}} | 
      {{proper gameSettings.heroName}} Points
      <input style="margin:auto;width:4ch"
            type="text" 
            name="system.hero_points" 
            value="{{hero_points}}" 
            data-dtype="Number"/>
            
      </div>
  </div>
  <div class="ew-cs-rollbutton ">
        <a class="ew-roll-icon" data-attribute="strength" data-action="statRoll"><i class="fa fa-dice-six"></i></a>
  </div>
  <div class="ew-cs-attributes">
   {{> 'systems/ewhen/templates/partials/MainAttributes.hbs'}}
  </div>
  <div class="ew-cs-abilities">
	{{> 'systems/ewhen/templates/partials/CombatAttributes.hbs'}}
  </div>
  <div class="ew-cs-careers">
	{{> 'systems/ewhen/templates/partials/CareerList.hbs'}}
  </div>
  <div class="ew-cs-points">
  {{#if isMajor}}
	{{> 'systems/ewhen/templates/partials/PointPools.hbs'}}
  {{/if}}
  </div>
  <div class="ew-cs-trackers">
	{{> 'systems/ewhen/templates/partials/Lifeblood.hbs'}}
  </div>
  <div class="ew-cs-boonflaw">
	{{> 'systems/ewhen/templates/partials/BoonList.hbs'}}
  </div>
  <div class="ew-cs-weapons">
	{{> 'systems/ewhen/templates/partials/WeaponList.hbs'}}
  </div>
  <div class="ew-cs-powers">
	{{> 'systems/ewhen/templates/partials/PowerList.hbs'}}
  </div>
  <div class="ew-cs-armor">
	{{> 'systems/ewhen/templates/partials/ArmorList.hbs'}}
  </div>
  <div class="ew-cs-equipment">
  {{> 'systems/ewhen/templates/partials/EquipmentList.hbs'}}
	</div>
  <div class="ew-cs-quickref">
    <hr class="ew-hr"/>
    <div class="ew-statblock" style="font-weight:bold; font-size:1.15em; height:100%; text-align:center;">
      <p>Very Easy&nbsp;+2 Easy&nbsp;+1 Moderate&nbsp;+0 Hard&nbsp;-1 Tough&nbsp;-2 Demanding&nbsp;-4 Formidable&nbsp;-6 Heroic&nbsp;-8<br/>
      0 - 1 - d3 - d6L - d6 - d6H - 2d6L - 2d6 - 2d6H - 3d6L - 3d6 - 3d6H</p>
    </div> 
  </div>
</div>
