    <div class="armor-container" id="itemsheet">
        <div class="armtypelabel">
            {{localize "EW.game_term.armortype"}}
        </div>
        <div class="armeralabel">
            {{localize "EW.game_term.era"}}
        </div>
        <div class="armtype">
            <select name="system.armor_type">
                {{selectOptions atypeOpts selected=system.armor_type localize=true}}
            </select>
        </div>
        <div class="armera">
            <select name="system.era" id="era">
                {{selectOptions eraOpts selected=system.era}}
            </select>
        </div>
        <div class="fplabel">
            {{localize "EW.armor.protection.fixedval"}}
        </div>
        <div class="varlabel">
            {{localize "EW.armor.protection.variable"}}
        </div>
        <div class="equiplabel">
            {{localize "EW.item.equipped"}}
        </div>
        <div class="accesslabel">
            {{localize "EW.armor.protection.accessory"}}
        </div>
        {{#if (setting "useScale")}}
        <div class="scalelabel">{{localize "EW.game_term.scale"}}</div>
        {{/if}}
        <div class="fpval">
            <input type="text" name="system.protection.fixed" value="{{protection.fixed}}" data-dtype="Number"/>
        </div>
        <div class="varpval">
            <select name="system.protection.variable" />
                    {{selectOptions vprotectOpts selected=system.protection.variable}}
                    </select>
        </div>
        <div class="accesscheck">
             <input name="system.accessory" type="checkbox" {{checked system.accessory}} />
        </div>
        <div class="eqpcheck">
            <input name="system.equipped" type="checkbox" {{checked system.equipped}} />
        </div>
        {{#if (setting "useScale")}}
                <div class="scaleval">
                    <input type="text" name="system.protection.scale" value="{{system.protection.scale}}" data-dtype="Number"/>
                </div>
        {{/if}}
        <div class="armorbonuslabel">
            {{localize "EW.armor.armorbonuses"}}
        </div>
        <div class="armorpenlabel">
            {{localize "EW.armor.armorpenalty"}}
        </div>
        <div class="diffmodlabel">
              {{localize "EW.armor.otherdiffmods"}}
        </div>
        <div class="armbonto">
             <select name="system.bonus.to">
                    {{selectOptions abonusOpts selected=system.bonus.to}}
                    </select>
        </div>
        <div class="armbonval">
            <input class="ewhen statfield" type="text" name="bonus.amount" value="{{system.bonus.amount}}" data-dtype="Number" />
        </div>
        <div class="armpento">
              <select name="system.penalty.to">
                   {{selectOptions abonusOpts selected=system.penalty.to}}
                    </select>
        </div>
        <div class="armpenval">
            <input type="text" name="system.penalty.amount" value="{{system.penalty.amount}}" data-dtype="Number"/>
        </div>
        <div class="diffmodval">
            <input type="text" name="system.diffmod.to" value="{{system.diffmod.to}}" />
        </div>
    </div>
