<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
{{log "Armor Data for handlebars: " data}}
{{log "Armor data subfield type: " type}}
    <div>
        <table>
            <tr>
                <th>{{localize "EW.game_term.armortype"}}</th>
                <th>{{localize "EW.game_term.era"}}</th>
            </tr>
            <tr>
                <td>
                    <select style="width:100%;" name="system.armor_type" id="armor_type">
                        {{#selectOption armor_type}}
                        {{#each config.armor_types as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/selectOption}}
                    </select>
                    </td>
                    {{> 'systems/ewhen/templates/partials/EraSelect.hbs'}}
            </tr>
        </table>
        <table>
            <tr>
            <th>{{localize "EW.armor.protection.fixedval"}}</th>
            <th>{{localize "EW.armor.protection.variable"}}</th>
            {{#if (setting "useScale")}}<th>{{localize "EW.game_term.scale"}}</th>{{/if}}
            <th>{{localize "EW.armor.protection.accessory"}}</th>
            <th>{{localize "EW.item.equipped"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.protection.fixed" value="{{protection.fixed}}" data-dtype="Number"/>
                </td>
                <td>
                    <select style="width:100%;" name="system.protection.variable" />
                    {{#selectOption protection.variable}}
                        <option value="none">{{localize "EW.game_term.none"}}</option>
                        <option value="1d3">1d3</option>
                        <option value="1d6-3">1d6-3</option>
                        <option value="1d6-2">1d6-2</option>
                        <option value="1d6-1">1d6-1</option>
                        <option value="1d6">1d6</option>
                    {{/selectOption}}
                </td>
                {{#if (setting "useScale")}}
                <td>
                    <input class="ewhen statfield" type="text" name="system.protection.scale" value="{{protection.scale}}" data-dtype="Number"/>
                </td>
                {{/if}}
                <td class="align-center">
                    <input name="system.accessory" type="checkbox" {{checked accessory}} />
                </td>
                <td class="align-center">
                    <input name="system.equipped" type="checkbox" {{checked equipped}} />
                </td>
            </tr>
        </table>
        <table>
            <tr>
            <th colspan="2">
                {{localize "EW.armor.armorbonuses"}}
            </th>
            <th colspan="2">
                {{localize "EW.armor.armorpenalty"}}
            </th>
            <th>
                {{localize "EW.armor.otherdiffmods"}}
            </th>
            </tr>
            <tr>
                <td>
                    <select name="system.bonus.to">
                    {{#selectOption bonus.to}}
                    {{> "systems/ewhen/templates/partials/AttributeSelect.hbs"}}
                    {{/selectOption}}
                    </select>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.bonus.amount" value="{{bonus.amount}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.penalty.to">
                    {{#selectOption penalty.to}}
                    {{> "systems/ewhen/templates/partials/AttributeSelect.hbs"}}
                    {{/selectOption}}
                    </select>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.penalty.amount" value="{{penalty.amount}}" data-dtype="Number"/>
                </td>
                <td>
                    <input type="text" name="system.diffmod.to" value="{{diffmod.to}}" />
                </td>
                
            </tr>
        </table>
    </div>
</form>
