<form class="{{cssClass}}" autocomplete="off">
    <div>
        <table>
            <tr>
                <th>{{localize "EW.game_term.armortype"}}</th>
                <th>{{localize "EW.game_term.era"}}</th>
            </tr>
            <tr>
                <td>
                    <select style="width:100%;" name="system.armor_type" id="armor_type">
                        {{selectOptions atypeOpts selected=armor_type localize=true}}
                    </select>
                    </td>
                    <td>
                        <select style="width:100%;" name="system.era" id="era">
                            {{selectOptions eraOpts selected=era}}
                        </select>
                    </td>
            </tr>
        </table>
        <table>
            <tr>
            <th>{{localize "EW.armor.protection.fixedval"}}</th>
            <th>{{localize "EW.armor.protection.variable"}}</th>
            {{#if (setting "useScale")}}<th>{{localize "EW.game_term.scale"}}</th>{{/if}}
            <th>{{localize "EW.armor.protection.accessory"}}</th>
            <th>{{localize "EW.item.equipped"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.protection.fixed" value="{{protection.fixed}}" data-dtype="Number"/>
                </td>
                <td>
                    <select style="width:100%;" name="system.protection.variable" />
                    {{selectOptions vprotectOpts selected=protection.variable}}
                    </select>
                </td>
                {{#if (setting "useScale")}}
                <td>
                    <input class="ewhen statfield" type="text" name="system.protection.scale" value="{{protection.scale}}" data-dtype="Number"/>
                </td>
                {{/if}}
                <td class="align-center">
                    <input name="system.accessory" type="checkbox" {{checked accessory}} />
                </td>
                <td class="align-center">
                    <input name="system.equipped" type="checkbox" {{checked equipped}} />
                </td>
            </tr>
        </table>
        <table>
            <tr>
            <th colspan="2">
                {{localize "EW.armor.armorbonuses"}}
            </th>
            <th colspan="2">
                {{localize "EW.armor.armorpenalty"}}
            </th>
            <th>
                {{localize "EW.armor.otherdiffmods"}}
            </th>
            </tr>
            <tr>
                <td>
                    <select name="system.bonus.to">
                    {{selectOptions abonusOpts selected=bonus.to}}
                    </select>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.bonus.amount" value="{{bonus.amount}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.penalty.to">
                   {{selectOptions abonusOpts selected=penalty.to}}
                    </select>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.penalty.amount" value="{{penalty.amount}}" data-dtype="Number"/>
                </td>
                <td>
                    <input type="text" name="system.diffmod.to" value="{{diffmod.to}}" />
                </td>
                
            </tr>
        </table>
    </div>
</form>
