<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div>
        <table>
        <h3>{{localize "EW.game_term.career"}} {{localize "EW.game_term.description"}}</h3>
       
        {{editor 
            enrichedDescription 
            target="system.description" 
            button=true 
            owner=owner 
            editable=true
        }}

    </div>
</form>
