<div id="itemsheet">
        
        <span style="font-size:large;">{{localize "EW.game_term.career"}} {{localize "EW.game_term.description"}}</span><br/>
       
        <prose-mirror name="system.description" 
                      data-document-u-u-i-d="{{item.uuid}}" 
                      value="{{enrichedDescription}}" 
                      collaborate="true" 
                      toggled="true">
            {{{enrichedDescription}}}
        </prose-mirror>

</div>