<div class="equipment-container" id="itemsheet">
  <div class="lequant">
    {{localize "EW.game_term.quantity"}}
  </div>
  <div class="leweight">
    {{localize "EW.game_term.weight"}}
  </div>
  <div class="lecost">
    {{localize "EW.game_term.currencyval"}}
  </div>
  <div class="lecredit">
    {{localize "EW.game_term.creditval"}}
  </div>
  <div class="equant">
    <input class="ewhen statfield" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
  </div>
  <div class="eweight">
    <input class="ewhen statfield" type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
  </div>
  <div class="ecost">
    <input class="ewhen statfield" type="text" name="system.currency_cost" value="{{system.currency_cost}}" data-dtype="Number"/>
  </div>
  <div class="ecredit">
    <input class="ewhen statfield" type="text" name="system.credit_cost" value="{{system.credit_cost}}" data-dtype="Number" />
  </div>
  <div class="ledesc">
     {{localize "EW.game_term.description"}}
  </div>
  <div class="edesc">
    <textarea class="ewhen trait-desc" id="description" name="system.description">{{system.description}}</textarea>
  </div>
</div>