<div class="pointpool-container" id="itemsheet">
  <div class="lppmax">
    Maximum
  </div>
  <div class="lppmin">
    Minimum
  </div>
  <div class="lppcurrent">
    Current
  </div>
  <div class="ppmax">
    <input class="ewhen statfield" type="text" name="system.max" value="{{system.max}}" data-dtype="Number" />
  </div>
  <div class="ppmin">
    <input class="ewhen statfield" type="text" name="system.min" value="{{system.min}}" data-dtype="Number" />
  </div>
  <div class="ppcurrent">
    <input class="ewhen statfield" type="text" name="system.current" value="{{system.current}}" data-dtype="Number" />
  </div>
  <div class="lppdesc">
     {{localize "EW.game_term.description"}}
  </div>
  <div class="ppdesc">
    <textarea class="ewhen trait-desc" id="description" name="system.description">{{system.description}}</textarea>
  </div>
</div>