<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div>
        <table>
            <tr>
                <th>{{localize "EW.game_term.powertype"}}</th>
                <th>{{localize "EW.game_term.magnitude"}}</th>
                <th>{{localize "EW.game_term.prereq"}}</th>
            </tr>
            <tr>
                <td style="text-align: center;"> 
                    <select style="width:100%;" name="system.power_type" id="power_type">
                        
                        {{selectOptions config.powerTypes selected=power_type localize=true}}
                        
                    </select>
                </td>
                <td style="text-align: center;">
                    <select style="width:100%;" name="system.magnitude" id="magnitude">
                    
                        {{selectOptions config.magnitudes selected=magnitude localize=true}}
                        
                    </select>
                </td>
                <td style="text-align:center;">
                    <input type="text" class="ewhen statfield" name="system.prereq" value="{{prereq}}" />
                </td>
            </tr>
            <tr>
                <th>{{localize "EW.game_term.successroll"}}</th>
                <th>{{localize "EW.game_term.difficulty"}}</th>
                <th>{{localize "EW.game_term.resourcecost"}}</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="system.success_roll" value="{{success_roll}}" />
                </td>
                <td>
                    <select style="width:100%" name="system.difficulty" id="difficulty">
                       
                        {{selectOptions config.difficulty selected=difficulty localize=true}}
                       
                    </select>
                </td>
                <td>
                    <input type="text" name="system.resource_cost" value="{{resource_cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <hr>
        <h3>{{localize "EW.game_term.effect"}}</h3>
                <textarea class="ewhen trait-desc" id="effect" name="system.effect">{{effect}}</textarea>           
    </div>
</form>
