<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <div>
        <table>
            <tr>
                <th>{{localize "EW.game_term.trait_type"}}</th>
                <th>{{localize "EW.game_term.trait_source"}}</th>
                <th>{{localize "EW.game_term.primod"}}</th>
                <th>{{localize "EW.game_term.temporary"}}</th>

            </tr>
            <tr>
                <td style="text-align: center;"> 
                    <select style="width:100%;" name="system.type" id="type">
                        {{#selectOption type}}
                        {{#each config.traitTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/selectOption}}
                    </select>
                </td>
                <td style="text-align: center;">
                    <select style="width:100%;" name="system.source" id="source">
                        {{#selectOption source}}
                        {{#each config.traitSources as |name source|}}
                        <option value="{{source}}">{{localize name}}</option>
                        {{/each}}
                        {{/selectOption}}
                    </select>
                </td>
                <td style="text-align:center;">
                    <select style="width:100%;" name="system.priority_dieMod" id="priority_dieMod">
                        {{#selectOption priority_dieMod}}
                        <option value="none">{{localize "EW.game_term.none"}}</option>
                        <option value="bonus">{{localize "EW.game_term.bonusdie"}}</option>
                        <option value="penalty">{{localize "EW.game_term.penaltydie"}}</option>
                        {{/selectOption}}
                    </select>
                </td>
                <td style="text-align: center;">
                    <input name="system.isTemporary" type="checkbox" {{checked isTemporary}} />
                </td>
            </tr>
        </table>
        <hr>
        <h3>{{localize "EW.game_term.description"}}</h3>
                <textarea class="ewhen trait-desc" id="description" name="system.description">{{description}}</textarea>           
    </div>
</form>
