<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
{{log "Data in item sheet: " data}}
    <div>
        <table>
            <tr>
                <th>{{localize "EW.game_term.weapontype"}}</th>
                <th>{{localize "EW.game_term.weaponhands"}}</th>
                <th>{{localize "EW.game_term.era"}}</th>
            </tr>
            <tr>
                    <td>
                    <select style="width:100%;" name="system.wpn_type" id="wpn_type">
                        {{#select wpn_type}}
                        {{#each config.weapon_types as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    </td>
                    <td>
                    <select style="width:100%;" name="system.hands" id="hands">
                        {{#select hands}}
                        {{#each config.weapon_hands as |name hand|}}
                        <option value="{{hand}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    </td>
                    <td>
                    <select style="width:100%;" name="system.era" id="era">
                        {{#select era}}
                        <option value="none"></option>
                        {{#each config.era as |era name|}}
                        <option value="{{name}}">{{localize (proper name)}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            </table>
            <table>
                <th>{{localize "EW.game_term.damagedice"}}</th>
                <th>{{localize "EW.game_term.attributes.attribute"}}</th>
                <th>{{localize "EW.game_term.halfattribute"}}</th>
                <th>{{localize "EW.game_term.modifier"}}</th>
                <th>{{localize "EW.game_term.ap"}}</th>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <select style="width:100%" name="system.damage.dice">
                        {{#select damage.dice}}
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="1d2">d2</option>
                        <option value="1d3">d3</option>
                        <option value="1d3+1">d3+1</option>
                        <option value="1d6-1">d6-1</option>
                        <option value="1d6">d6</option>
                        <option value="1d6+1">d6+1</option>
                        <option value="1d6+2">d6+2</option>
                        <option value="1d6+3">d6+3</option>
                        <option value="2d6kl1">d6L</option>
                        <option value="2d6kh1">d6H</option>
                        <option value="3d6kl2">2d6L</option>
                        <option value="2d6">2d6</option>
                        <option value="3d6kh2">2d6H</option>
                        <option value="4d6kl3">3d6L</option>
                        <option value="3d6">3d6</option>
                        <option value="4d6kh3">3d6H</option>
                        {{/select}}
                    </select>

                </td>
                <td>
                    <select style="width:100%" name="system.damage.add_attribute" id="damage.add_attribute">
                        {{#select damage.add_attribute}}
                        <option value="none"></option>
                        {{#each config.main_attributes as |a attr|}}
                            <option value="{{attr}}">{{setting (getCustomName attr)}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.damage.half_attribute" type="checkbox" {{checked damage.half_attribute}} />
                </td>
                <td>
                   <input class="ewhen statfield" type="text" name="system.damage.mod" value="{{damage.mod}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.damage.ap" value="{{damage.ap}}" data-dtype="Number" />
                </td>
            </tr>
            </table>
            <table>
              <tr>
                <th>{{localize "EW.game_term.range"}}</th>
                <th>{{localize "EW.game_term.recoil"}}</th>
                <th>{{localize "EW.game_term.scale"}}</th>
              </tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.range" value="{{range}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.recoil" value="{{recoil}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.damage.scale" value="{{damage.scale}}" data-dtype="Number"/>
                </td>
            </tr>
        </table>

        <table>

            <tr>
                <th style="text-align: left;">{{localize "EW.game_term.notes"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.notes" value="{{notes}}" data-dtype="String"/>
                </td>
            </tr>
        </table>
    </div>
</form>
