<form class="{{cssClass}}" autocomplete="off">
{{log "Data in item sheet: " data}}
    <div id="#itemsheet">
        <table>
            <tr>
                <th>{{localize "EW.game_term.weapontype"}}</th>
                <th>{{localize "EW.game_term.weaponhands"}}</th>
                <th>{{localize "EW.game_term.era"}}</th>
            </tr>
            <tr>
                    <td>
                    <select class="ew-dialog-select" style="width:100%;" name="system.wpn_type" id="wpn_type">
                        {{selectOptions wtypeOpts selected=wpn_type}}
                    </select>
                    </td>
                    <td>
                    <select style="width:100%;" name="system.hands" id="hands">
                       {{selectOptions whandOpts selected=hands}}
                    </select>
                    </td>
                    <td>
                    <select style="width:100%;" name="system.era" id="era">
                      {{selectOptions eraOpts selected=era}}
                    </select>
                </td>
            </tr>
            </table>
            <table>
                <th>{{localize "EW.game_term.damagedice"}}</th>
                <th>{{localize "EW.game_term.attributes.attribute"}}</th>
                <th>{{localize "EW.game_term.halfattribute"}}</th>
                <th>{{localize "EW.game_term.modifier"}}</th>
                <th>{{localize "EW.game_term.ap"}}</th>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <select style="width:100%" name="system.damage.dice">
                       {{selectOptions dmgDiceOpts selected=damage.dice}}
                    </select>

                </td>
                <td>
                    <select style="width:100%" name="system.damage.add_attribute" id="damage.add_attribute">
                       {{selectOptions attOpts selected=damage.add_attribute}}
                    </select>
                </td>
                <td>
                    <input name="system.damage.half_attribute" type="checkbox" {{checked damage.half_attribute}} />
                </td>
                <td>
                   <input class="ewhen statfield" type="text" name="system.damage.mod" value="{{damage.mod}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.damage.ap" value="{{damage.ap}}" data-dtype="Number" />
                </td>
            </tr>
            </table>
            <table>
              <tr>
                <th>{{localize "EW.game_term.range"}}</th>
                <th>{{localize "EW.game_term.recoil"}}</th>
                <th>{{localize "EW.game_term.scale"}}</th>
              </tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.range" value="{{range}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.recoil" value="{{recoil}}" data-dtype="Number"/>
                </td>
                <td>
                    <input class="ewhen statfield" type="text" name="system.damage.scale" value="{{damage.scale}}" data-dtype="Number"/>
                </td>
            </tr>
        </table>

        <table>

            <tr>
                <th style="text-align: left;">{{localize "EW.game_term.notes"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="ewhen statfield" type="text" name="system.notes" value="{{notes}}" data-dtype="String"/>
                </td>
            </tr>
        </table>
    </div>
</form>
